html
  head
    title Document
    link(rel="stylesheet", href="./styles/index.css")
  body
    if errorMessage
      p#errorMessage.show= errorMessage
    form(method="get")
      label From
        input(type="text" list="fromStationList" name="from" placeholder="Amsterdam Centraal")
        datalist#fromStationList
          if stationsData
            each station in stationsData
              option(value=station)
      label To
        input(type="text" list="toStationList" name="to" placeholder="Rotterdam Stadion")
        datalist#toStationList
          if stationsData
            each station in stationsData
              option(value=station)
      button(type="submit") Submit
    script(src="/socket.io/socket.io.js")
    script(src="./scripts/index.js")