* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body > form {
  text-align: center;
  padding: 3rem 0;
}

table {
  border-collapse: collapse;
  color: #003082;
  margin: 0 auto 2rem;
  text-align: center;
  width: 75%;
}

td,
th {
  border: 1px solid #003082;
  padding: 0.5rem;
}

tr:hover {
  background-color: #eee;
}

th {
  background: linear-gradient(
    180deg,
    rgba(255, 201, 23, 0.9) 0,
    #ffc917 3.75rem,
    #ffc917
  );
  color: #003082;
  padding: 0.5rem 0;
}

main {
  display: flex;
  margin: 0 auto;
  max-width: 75rem;
  width: 90%;
}

section {
  padding: 0 2rem;
  width: 25%;
}

section li {
  list-style: none;
  margin-bottom: 2rem;
}

section form {
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
}

section form input,
section form button {
  display: block;
  margin-bottom: 1rem;
  width: 100%;
}
