* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input,
button {
  border: 1px solid #003082;
  padding: 0.5rem;
}

label,
button {
  cursor: pointer;
}

button {
  background-color: #003082;
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
}

body > form {
  text-align: center;
  padding: 3rem 0;
}

body > form label {
  margin-right: 1rem;
}

body > form input {
  margin-left: 0.5rem;
}

body > form button {
  border-radius: 0;
  padding: 0.5rem 2rem;
}

table {
  border-collapse: collapse;
  color: #003082;
  margin: 0 auto 2rem;
  text-align: center;
  width: 65%;
}

td,
th {
  border: 1px solid #003082;
  padding: 0.5rem;
}

tr:hover {
  background-color: #eee;
}

th {
  background: #ffc917;
  color: #003082;
  padding: 0.5rem 0;
}

main {
  display: flex;
  margin: 0 auto;
  max-width: 75rem;
  width: 90%;
}

section {
  padding: 0 2rem;
  width: 35%;
}

section li {
  list-style: none;
  margin-bottom: 2rem;
}

section form {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.5rem;
  position: relative;
}

section form input {
  margin-top: 0.5rem;
}

section form input,
section form button {
  display: block;
  margin-bottom: 1rem;
  width: 100%;
}

#messagesList li {
  background-color: #eee;
  padding: 1rem;
}

#messagesList li p {
  margin-bottom: 0.25rem;
}

#messagesList li p:first-word {
  font-weight: bold;
}

#errorMessage {
  background: #ffc917;
  border-bottom: 2px solid #003082;
  color: #003082;
  display: none;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.6rem;
  margin-bottom: 2rem;
  padding: 1.25rem;
  text-align: center;
  width: 100%;
}

#errorMessage.show {
  display: block;
}
